body {
    padding: 0;
    margin: 0;
    background-color: #32c9d6;
}
#ball {
    -webkit-transition: all;
    transition: all;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
